.chat-menu
  .chat-menu__head
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
    %i.fa.fa-edit
    .chat-menu__head__name SEO
  .chat-menu__body
    = render partial: "menu_message"
.chat-contents
  .chat-contents__head
    .chat-contents__head__button edit
    .chat-contents__head__group-name KGG
    .chat-contents__head__group-member Members: Mai  Yuuko  Pinoko
  .chat-contents__body
    .chat-contents__body__content
      = render partial: "content_message"
    .chat-contents__type-message
      .chat-contents__type-message__button Send
      .chat-contents__type-message__box
        %i.fa.fa-picture-o
        .chat-contents__type-message__box__message  チョベリバ
