.chat-contents__body__content__line.clearfix
  .chat-contents__body__content__line__name=comment.user.name
  .chat-contents__body__content__line__time=comment.created_at.strftime("%Y-%m-%d %H:%M:%S")
.chat-contents__body__content__message=comment.comment