.chat-group-form
  %h1 新規チャットグループ
  .chat-group-form__errors
    - if @chatgroup.errors.any?
      %ul
        -@chatgroup.errors.full_messages.each do |message|
          %li
            =message
  = render partial: 'form'
